<DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
        </head>
        <body>
            <form action="/get-source" method="POST">
                <label for="source">Source:</label><br>
                <input type="text" id="source" name="source"><br>
                <input type="submit" value="Submit">
            </form>
            <form action="/get-keys" method="POST">
                <label for="keys">Keys:</label><br>
                <input type="text" id="keys" name="keys"><br>
                <input type="submit" value="Submit">
        </body>
    </html>
  </DOCTYPE>